*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.App{
    width: 100vw;
    height: 100vh;
    background-image: url("./imagens/calculo.png");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    color: aliceblue;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
}
.mensagem{
    color: aliceblue;
}
.form{
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    padding: 30px 15px;
    border-radius: 15px;
    gap: 10px;
}
.input{
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
}
.btn{
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    background-color: aliceblue;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.btn:hover,
.btn:focus{
    outline: 0,5;
    box-shadow: 0 0 0 3px black, 0 0 0 4px rgb(255, 255, 255);
}
.btn:disabled{
    cursor: wait;
    opacity: 0,5;
}
.text{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.resutado{
    color: aliceblue;
    font-weight: 400;
    font-size: 22px;
}